@use "../partials/breakpoints";
@use "../partials/devices";
@use "../partials/typography";
@use "../partials/palette";


%card-layout {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
}


.card {
    display: flex;
    flex-direction: column;
    
    background-color: rgb(252, 252, 252);
    border: 1px solid rgb(221, 219, 219);
    border-radius: 15px;
    padding: 20px;
    font-size: 100%;
    padding-left: 0;

    font-family: typography.$primary-font-family;

    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;

    @include devices.phone {
        font-size: small;
    }
    
    @include devices.tablet {
        font-size: small;
    }
    
    @include devices.landscape-tablet {
        font-size: small;
    }

    @include devices.laptop {
    }

    &--top {
        display: flex;
        flex-direction: row;

        &__image {
            width: 128px;
            height: 190px;
        }
    
        &__body {
            width: 100%;
            padding-left: 20px;

            h2, p {
                margin: 0;
            }
            &--title {
                color: typography.$secondary-font-color;
            }
            &--authors {
                margin-top: 10px;
                font-size: 14px;
            }
            &--publication-year {
                margin-top: 5px;
                font-size: 14px;
            }
            &--type {
                margin-top: 10px;
                font-style: italic;
            }
        }
    }
    
    
    &--bottom {
        width: 100%;
        margin-top: 10px;
        padding-left: 20px;
        
        &--description {
            font-family:'Times New Roman', Times, serif;
            overflow: hidden;

            display: -webkit-box;
            -webkit-line-clamp: 4;
            -webkit-box-orient: vertical;
        }
        &--details-link {
            align-items:center;
            text-align: right;
            font-weight: bold;
            p {
                margin-bottom: 0;
            }
        }
    }


}