@use "../partials/breakpoints";
@use "../partials/devices";
@use "../partials/spacing";
@use "../partials/border-radius";

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: pink;

    padding: spacing.$form-padding;

    border: 2px solid grey;
    border-radius: border-radius.$regular;
    
    &__text-area {
        padding: 20px;
    }
}