.search-box {
  height: fit-content;
  background-color: aliceblue;
  margin-top: 30px;
  padding: 20px;
  border: 2px solid grey;
  border-radius: 10px;
  text-align: center;
  color: rgb(99, 90, 90);
}